@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

bg-inventia{
    background-color: #D6838B;   
}

body{
    font-family: 'Titillium Web', sans-serif;
    
}

.title{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    color: #CC2C49;
}

.container-custom{
    background-color: #EFEDED;
    width: 80%;
    height: 10rem;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
}

.container-custom p{
    padding: 20px;
}
.container-custom span{
    color: #1DB2CF;
}

.custom-button{
    background-color: #D9D9D9;
    border: none;
    width: 300px;
    height: 70px;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 2rem;

}
.custom-button:hover{
    background-color: #1DB2CF;
    color: #EFEDED;
}

.img-float{
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}

title-custom{
    animation: shadow-on-off 6s ease-in-out infinite;
}

@keyframes shadow-on-off {
	50% {
		text-shadow: 10px 20px 30px blue;;
	}
}
