@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #020202;
    color: #fff;
    font-family: 'Roboto', 'sans-serif';
}

.header-container{
    display: flex;
    flex-direction: row;
}

.header-container nav{
    width: 100%;
    padding: 10px 0;
}
.header-container nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.header-container nav ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    
    margin: 0px 24px;
}